# Jenkins 홈 디렉토리 영구 볼륨 (플러그인, 빌드 히스토리 저장)
# k3s 기본 StorageClass: local-path
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jenkins-pvc
  namespace: krgeobuk-devops
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 10Gi
